.Genero-section{
 margin: 10px 0px;
}


.paragraph-genre__sun{
    color: var(--gray-7);
    font-weight: 600;
}

.genre-filter{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 20px;
}

.genre-item{
     font-weight: 500;
     margin: 20px 0px;
}

.item-button{
    padding: 8px;
    border-radius:5px ;
    background-color: var(--gray-6);
   
}
.item-button__sun{
    padding: 8px;
    border-radius:5px ;
    color: white;
    background-color: var(--gray-2);
}

.item-button__destaque{
 background-color:var(--gray-2);
 color:  var(--gray-7);
 padding: 8px;
 border: none;
 border-radius:5px ;
}


.item-button:hover{
    border: 1px solid var(--gray-1);
}

.item-button{
    border: none;
}