
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url(reset.css);

:root{
    --brand-1:rgba(111, 0, 255, 1);
    --brand-2: rgba(134, 41, 255, 1);


    --gray-1: rgba(21, 23, 26, 1);
    --gray-2:rgba(33, 37, 41, 1);
    --gray-3:rgba(43, 47, 51, 1);
    --gray-4:rgba(206, 212, 218, 1);
    --gray-5:rgba(222, 226, 230, 1);
    --gray-6:rgba(0, 0, 0, 0.2);
    --gray-7:rgba(0, 0, 0, 0.2);
    --gray-8:rgba(0, 0, 0, 0.2);  

    --font-principal: "Inter", sans-serif;
}

body{
    max-width:1024px ;
    font-family: var(--font-principal);
    margin: auto;
}
