header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 3px solid var(--brand-1);
    background-color: var(--gray-8);
    padding:20px 0px;
    position: sticky;
    z-index: 1;
    top: 0px;
}
.header{
background-color:var(--gray-1) ;
color: var(--gray-7);
}
.highlight{
    color: var(--brand-2);
}

.button-icons{
    background-image: url('../assets/icons/moon-icon.svg');
    background-repeat: no-repeat;
    background-position: center; 
    width: 20px;
    padding: 15px;
   border-radius: 5px;
    border: none;
    cursor: pointer;
}

.button-sun{
    background-image: url('../assets/icons/sun-icon.svg');
    background-repeat: no-repeat;
    background-color: var(--gray-3);
    background-position: center; 
    width: 20px;
    padding: 15px;
   border-radius: 5px;
    border: none;
    cursor: pointer;
}
