.price-section{
 display: flex;
 gap: 20px;
 flex-direction: column;
 margin: 30px 0px;
 margin-bottom: 50px;
}
.price-details{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.price-label{
    font-weight: 600;
}

.price-range{
    font-weight: 600;
}

.price-range__highlight{
    color: var(--brand-1);
}

/* Selecionando o elemento input range (selecione por id ou classe) */
#volume{
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
    width: 100%;
    outline: none;
    background-color: var(--brand-1);
    border-radius: 0.5rem;
    height: 0.5rem;
  }
  
  #volume::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    height: 30px;
    width: 30px;
    background-color: #fff;
    border-radius: 50%;
    border: 0.5rem solid var(--brand-1);
  }